.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  width: 50%;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(130, 131, 131);
  border: 1px solid rgb(245, 245, 245);
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game{
  background-color: #282c34;
}
.game-board{
  background-color: #282c34;
  text-align: center;
  
}
.game-info {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}
.btnMoves{
  width: 200px;
}
.statusText{
  font-size: 24px;
  font-weight: bold;
}

.board-row {
  width: 50%;
  margin-left: 150px !important;
}
.squareCol{
  margin-left: 100px;
}
